/**
 * Fonts
 */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

$monospace: 'Roboto Mono', 'Source Code Pro', 'Input Mono', Menlo, Monaco, 'Courier New', monospace;

/**
 * Var
 */

$text-fg: #2c3e50;

$active-bg: #287fe3;
$active-fg: #f0f0f0;
$hover-bg: rgba(lighten($active-bg, 20%), .8);

/**
 * Mixin
 */
@mixin transition($property) {
  transition: $property .15s ease-in;
}